.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  min-width: 35%;
  overflow-y: scroll;
  /* max-height: 100%; */
}
.welcomeText {
  align-self: flex-start;
  margin-top: 50px;
  margin-left: 15px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #2e0052;
}
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80%;
  height: 90%;
  border: solid 2px #d0d0d0;
  border-radius: 7px;
  padding: 20px;
}
.formContainer input {
  min-width: 200px;
  max-width: 400px;
  height: 32px;
  min-height: 40px;
  padding-left: 5px;
  background: #ffffff;
  border: 1.21389px solid #b6b6b6;
  border-radius: 4.8px;
}
.title {
  font-size: 1.3rem;
  font-weight: 500;
}
.submitBtn {
  width: 98%;
  margin-top: 10px;
  height: 32px;
  background-color: #2e0052;
  color: white;
  outline: none;
  border: none;
  border-radius: 4.8px;
}

@media only screen and (min-width: 767px) {
  .registerContainer {
    width: 35%;
    overflow: hidden;
  }
  .signUpSpan {
    display: none;
  }
  .welcomeText {
    display: none;
  }
  .formContainer {
    margin-top: 10px;
    width: fit-content;
    height: max-content;
  }
  .break::before,
  .break::after {
    width: 145px;
  }
  .registerBtn {
    width: 440px;
  }
}
