.appContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  height: 7vh;
  background-color: #2e0052;
}
.header {
  height: 5vh;
  background-color: #2e0052;
}

@media only screen and (max-width: 767px) {
  .footer,
  .header {
    display: none;
  }
}
