.loginContainer {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 95%;
  max-height: 60%;
}
.welcomeText {
  align-self: flex-start;
  margin-left: 15px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #2e0052;
}
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80%;
  height: 80%;
  border: solid 2px #d0d0d0;
  border-radius: 7px;
  padding: 20px;
}
.formContainer input {
  width: 95%;
  height: 32px;
  padding-left: 5px;
  background: #ffffff;
  border: 1.21389px solid #b6b6b6;
  border-radius: 4.8px;
}
.signInSpan {
  font-size: 0.9rem;
  font-weight: 400;
}
.title {
  font-size: 1.3rem;
}
.signInBtn {
  width: 98%;
  margin-top: 20px;
  height: 32px;
  background-color: #2e0052;
  color: white;
  outline: none;
  border: none;
  border-radius: 4.8px;
}
.break {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 10px;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 15px;
}
.break::before,
.break::after {
  content: "";
  height: 1px;
  background-color: #bdbdbd;
  display: block;
}
.registerBtn {
  background-color: transparent;
  height: 35px;
  margin-top: 20px;
  width: 330px;
  border: 2px solid #bdbdbd;
  border-radius: 5px;
  font-size: 0.9rem;
}

@media only screen and (min-width: 767px) {
  .signInSpan {
    display: none;
  }
  .welcomeText {
    display: none;
  }
  .formContainer {
    width: fit-content;
    height: max-content;
  }
  .break::before,
  .break::after {
    width: 145px;
  }
  .registerBtn {
    width: 440px;
  }
}
